.movie-details {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-weight: 500;
}

.backdrop-img {
  width: 100%;
  margin-bottom: 20px;
}

.movie-poster {
  width: 35%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main {
  display: flex;
}

p {
  margin: 7px;
}