.movie-posters-section {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.movie-posters {
  width: 100%;
  cursor: pointer;
}

.movie-posters:hover {
  opacity: 85%;
}